body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: #fff;
}

.container {
    margin-top: 50px;
}

.red {
    color: red;
    font-weight: bold;
}

.green {
    color: lime;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}
